@import "reset.scss";
/*@import "../node_modules/normalize.css/normalize.css";*/
/*@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: white;
}
ol,
ul {
  list-style: none;
}

/*  FONTS */

@font-face {
  font-family: "Gotham Pro";
  src: local("Gotham Pro Bold"), local("Gotham-Pro-Bold"), url("../GothamPro-Bold.woff2") format("woff2"),
    url("../GothamPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PF Encore Sans Pro";
  src: local("PF Encore Sans Pro Bold"), local("PF-Encore-Sans-Pro-Bold"),
    url("PFEncoreSansPro-Bold.woff2") format("woff2"), url("PFEncoreSansPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PF Encore Sans Pro";
  src: local("PF Encore Sans Pro Medium"), local("PF-Encore-Sans-Pro-Medium"),
    url("PFEncoreSansPro-Medium.woff2") format("woff2"), url("PFEncoreSansPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PF Encore Sans Pro";
  src: local("PF Encore Sans Pro Thin"), local("PF-Encore-Sans-Pro-Thin"),
    url("PFEncoreSansPro-Thin.woff2") format("woff2"), url("PFEncoreSansPro-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

$pink: #fc635e;
%underline {
  border-bottom: 2px solid #adadad;
  padding-bottom: 10px;
}
$indent: 20px;

body {
  font-family: "PF Encore Sans Pro", sans-serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 24px;
  color: #9e9898;
}
.wrapper1200,
.wrapper940 {
  margin: 0 auto;
  width: 100%;
}

.wrapper1200 {
  max-width: calc(1200px);
}
.wrapper940 {
  max-width: calc(940px + #{$indent});
  padding: 0 10px;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  text-align: center;
}
h1 {
  font-family: "PF Encore Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 50px;
  span {
    color: $pink;
  }
}
h2 {
  font-family: "PF Encore Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 24px;
  color: $pink;
  span {
    color: #868686;
  }
}
h3 {
  font-family: "PF Encore Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 24px;
  color: #868686;
}
.circle-more-pink,
.circle-more-light {
  display: flex;
  justify-content: center;
  margin: auto 0 25px 0;
}
.circle-more-pink_link,
.circle-more-light_link {
  font-size: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
  align-items: center;
  transition: 0.5s;
  border: 1px solid $pink;
  &:hover {
    transform: translateY(10px);
  }
}
.circle-more-pink_link {
  color: white;
  background-color: $pink;
}
.circle-more-light_link {
  color: $pink;
  background-color: white;
}
.main-link {
  color: $pink;
  font-size: 24px;
  border: 2px solid $pink;
  padding: 12px 32px;
  border-radius: 10px;
  &:hover {
    background-color: $pink;
    color: white;
  }
}
.pink-link {
  color: white;
  font-size: 20px;
  border: 2px solid $pink;
  padding: 10px 32px;
  border-radius: 8px;
  background-color: $pink;
  &:hover {
    background-color: white;
    color: $pink;
  }
}
/* HEADER START */
.header {
  background: url(../img/background.png) no-repeat;
  background-size: cover;
  min-height: 765px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 200px;
}
.header__logo-link {
  font-size: 24px;
  font-weight: 500;
  img {
    padding-right: 15px;
    vertical-align: middle;
  }
}
.header__menu-list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 576px) {
    flex-direction: column;
  }
}
.header__menu-item {
  margin-left: 45px;
}
.header__menu-link {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  &:hover {
    color: $pink;
    border-bottom: 1px solid $pink;
    padding-bottom: 3px;
  }
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
  @media screen and (max-width: 576px) {
    font-size: 24px;
    line-height: 2rem;
  }
}
.header__text {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__text-title {
  font-family: "gotham pro", serif;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
  span {
    color: $pink;
  }
  @media screen and (max-width: 768px) {
    font-size: 30px;
    line-height: 1rem;
  }
  @media screen and (max-width: 576px) {
    font-size: 24px;
    line-height: 2rem;
  }
}
.header__text-desc {
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
}

/* HEADER END */

/* MAIN START */
/* RECEIVE START */

.receive {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 65px;
  padding-bottom: 15px;
  text-align: center;
}
.receive__title {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.receive__desc {
  font-size: 20px;
  max-width: 62%;
  margin-bottom: 70px;
  @media screen and (max-width: 576px) {
    font-size: 16px;
  }
}
.receive__about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 45px;
  width: 100%;
  gap: 30px;
}
.receive__about-item {
  position: relative;
  flex: 0 0 calc((100% / 4) - 30px);
  padding-top: 130px;
  transition: all 2s;
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    background: center center no-repeat;
    width: 120px;
    height: 120px;
    transform: translateX(-50%);
    transition: transform 0.1s ease-in-out;
  }
  &:hover::before {
    transform: translateX(-50%) rotate(360deg);
  }
  @media screen and (max-width: 576px) {
    flex: 0 0 calc((100% / 2) - 30px);
  }
  @media screen and (max-width: 480px) {
    flex: 0 0 calc((100%) - 30px);
  }
}
.card-clients {
  &::before {
    background-image: url("../img/icon1.png");
  }
}
.card-branding {
  &::before {
    background-image: url("../img/icon2.png");
  }
}
.card-marketing {
  &::before {
    background-image: url("../img/icon3.png");
  }
}
.card-adv {
  &::before {
    background-image: url("../img/icon4.png");
  }
}
#receive .card__title {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: #adadad;
  text-transform: uppercase;
  &::after {
    content: "";
    display: block;
    width: 30%;
    padding-top: 3px;
    border-bottom: 2px solid #adadad;
    margin: 0 auto 15px;
  }
}
.receive__about-link {
  color: unset;
}
/* RECEIVE END */
/*EXPAND SECTION START*/
.expand {
  background-image: linear-gradient(to top, rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url(../img/expand.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  padding: 86px 0 100px;
}
.expand__text {
  border: 10px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.expand__title {
  color: white;
  font-size: 51px;
  font-weight: 500;
  line-height: 48px;
  margin: 120px 0 50px;
  span {
    color: $pink;
  }
  @media screen and (max-width: 576px) {
    font-size: 30px;
  }
}
.expand__link {
  padding-left: 55px;
  padding-right: 55px;
  margin-bottom: 20px;
}
.expand__link-more {
  position: relative;
  top: 120px;
}
/*EXPAND SECTION END*/
/*PROCESS SECTION START*/
#process {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.process__title {
  margin-bottom: 35px;
}
.process__desc {
  font-size: 20px;
  max-width: calc(100% / 10 * 6);
  margin-bottom: 50px;
  @media screen and (max-width: 576px) {
    font-size: 16px;
  }
}

/*PROCESS SECTION END*/
/*DOWE SECTION START*/
#dowe {
  position: relative;
  border: 1px solid black;
}
.dowe__title {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}
.dowe__pages {
  padding: 155px 0 1px;
  &-grey {
    background: #f2f2f2;
  }
}
.pages__card {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0;
  margin-bottom: 40px;
}
.card__text {
  font-size: inherit;
  border: 1px solid black;
  flex: 0 0 calc(100% / 10 * 4);
  padding-bottom: 55px;
}
#dowe .card__title {
  position: relative;
  margin-top: 40px;
  margin-bottom: 30px;
  padding-left: 20px;
  text-align: left;
  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: -10px;
    width: 10px;
    height: 40px;
    background: $pink;
  }
}
.card__desc {
  margin-bottom: 40px;
}
.card__link {
  margin-bottom: 45px;
}
.card__img {
  border: 1px solid black;
  flex: 0 0 calc(100% / 10 * 6 - #{$indent / 2});
  background: url(../img/we_do_1.png) no-repeat center / contain;
}
/*DOWE SECTION END*/
/*PORTFOLIO SECTION START*/
/*PORTFOLIO SECTION END*/

/* MAIN END */

/* FOOTER START */

/* FOOTER END */

/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */

/* Laptops */
@media only screen and (max-width: 1200px) {
}
/* Tablets, Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}
/* Phones */
@media only screen and (max-width: 575px) {
}
/* Extra Small Devices, old Phones */
@media only screen and (max-width: 480px) {
}
